* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #000000;

  font-family: serif;
  line-height: 1.4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px 16px 64px;
}

.nav {
  margin-bottom: 32px;
}

.nav a {
  margin-right: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0 0 16px 0;
}

p {
  margin: 0 0 16px 0;
}

footer {
  font-size: 0.9rem;
}

.hidden {
  display: none;
}
