@media only screen and (min-width: 900px) {
    body 
    {
        background-color: #181b1a !important;
    }

    img 
    {
        width: 80% !important;
    }

    .container {
        width: 98vw;
        padding-top: 3vh;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    #home {
        height: 5vh !important;
        width: 5vh !important;
        border: 2vh !important;
        border-style: solid;
        border-radius: 1vh; 
        box-shadow:
            5px  5px 0 #ffffff,
            -1px -1px 0 #ffffff,  
            1px -1px 0 #ffffff,
            -1px  1px 0 #ffffff,
            1px  1px 0 #ffffff !important;
    }
}

@media only screen and (max-width: 899px) {
    body 
    {
        background-color: #181b1a !important;
    }

    img 
    {
        width: 95% !important;
    }

    .container {
        width: 98vw;
        padding-top: 3vh;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    #home {
        height: 5vh !important;
        width: 5vh !important;
        border: 2vh !important;
        border-style: solid;
        border-radius: 1vh; 
        box-shadow:
            5px  5px 0 #ffffff,
            -1px -1px 0 #ffffff,  
            1px -1px 0 #ffffff,
            -1px  1px 0 #ffffff,
            1px  1px 0 #ffffff !important;
    }
}